body{

}
h1{
  margin: 0;
}
#container{
  background-color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#header{
  text-align: center;
  padding: 10px;
}
#content{
  padding: 10px;
}
#main{
  width: 600px;
  float: right;
}
#navbar{
  width: 160px;
  float: left;
}
#footer{
  clear: both;
  padding: 10px;
  color: white;
  background-color: grey;
  text-align: right;
}
